.display{
    z-index: 999;
    margin: 0;
}
.container{
    background: white;
    border-radius: 10px;  
}

div {
    font-family: 'Ubuntu';
    color: #777777;
}
.active, .approved, a {
    color: #69C145
}
.inactive, .remove {
    color: #DB292F
}

.ended, .details{
    color: #005DB8
}

.active, .approved, .inactive, .ended {
    padding: 10px 0px;
    font-weight: 500;
}
.details{
    font-size: 1.3vw;
}
.state{
    font-size: 0.9vw;
}
.events, opening{
    padding-left: .7em;
    display: inline-block;
}

events{
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
}

p{
    font-family: 'Ubuntu'
}

.opening p:first-child{
    margin: 0px;
}

hr{
    border-top: 2px solid #CCC;
    padding: 0 1em;
    size: 20px;
    margin: 3px 1em;
}
.back{
    color: #777777;
    font-size: 0.8vw;
    margin: 0;
    display: inline-block;
    padding: 13px 3px;
}

.back:hover{
    text-decoration: underline;
}
.fa.fa-angle-left{
    color: #005DB8;
    font-size: 2em;
    padding-top: 4px;
    padding-right: .5em;
    font-weight: bold;
}

.button:hover{
    padding-left: 0px;
    transition: padding-left 1s;
    border: none;
}

.button{
    margin: 0px 0px;
    padding-left: 7px;
    transition: padding-left 1s, margin 1s;
    cursor: pointer;
    transition-delay: 0s;
}

.button:active{
    outline: transparent;
}

.dates p{
    margin-bottom: .1em;
}

.dates .row div span{
    font-size: .8vw;
    padding: 0em .5em;
    line-height: 0.8;
}

.dates .row div:first-child{
    font-weight: bold;
}

.dates .date{
    margin-bottom: 2em;
}
.day-month{
    font-size: 1.3em;
    font-weight: bold;
    padding-top: .3em
}

.dates div:last-child .day-month{
    color: #DA282E;
}

.details_button{
    color: #0059BB;
    cursor: pointer;
}