


.table-header {
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 25px;
}
.products{
    padding-left: 25vw;
    padding-right: 25vw;
    font-family: 'Ubuntu';
}
h1{
    color: #005DB8; 
    font-size: 24px;
    padding-bottom: 20px;
}

p{
    font-size: 14px;
    color: #9e9e9e;
    font-weight: lighter;
    font-weight: 400;
}

.numproduc{

    position: relative;
    margin-top: 22px;
    text-align: right;
    font-size: 14px;
    color: #005AB8;
    font-weight: bold;
    

}




.noprod{
        text-align: center;
    background: #fff;
    height: 91px;
    padding: 17px 0px;
    font-size: 17px;
    width: 100%;
     color: #777777;
    border-radius: 10px;
}
.noprod:hover{
    box-shadow: 0 0px 7px 0px #929292;
}
.regis{
    font-size: 14px;
        color: #005DB8;
}

.sel{
    position: relative;
    
    border: 1px;
    outline: none;
    border-bottom-style: solid;
    background: transparent;
    color: #6B727E;
    border-bottom-color: #060606;
   	width: 174px;
    margin-left: -43px;
	padding: 18px 0;

}

select::-ms-expand{
    display: none;
}

.opt{
    color:black; 
}
.produt{
    position: relative;
    text-align: right;
    margin: 1em 0;
    
}
.prod{
    position: relative;
    text-align: right;
    font-size: 14px;
    color: #777777;
    font-weight: bold;
    
}

.filt{
    position: relative;
    width: 100%;
}

.filt::after{
    float: right;
    content: "\f0dd";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}





@media (max-width: 1400px){
    h1{
        font-size: 18px;
    }
    p{
        font-size: 10px;
    }
}