<header>
    <header-profile></header-profile>
    <div class="filter row">
        <a [routerLink]="['/mis-productos/todos']" routerLinkActive="active" active> 
            Todos mis Productos
        </a>
        <a [routerLink]="['/mis-productos/1']" routerLinkActive="active">
            Cuenta de Ahorro
        </a>
        <a [routerLink]="['/mis-productos/2']" routerLinkActive="active"> 
            Crédito y Financiación
        </a>
        <a  [routerLink]="['/mis-productos/3']" routerLinkActive="active" class="text-center" >
                Inversión
        </a>
        <a [routerLink]="['/mis-productos/4']" routerLinkActive="active" class="text-center" >
                Seguros
        </a>
        <a [routerLink]="['/mis-productos/5']" routerLinkActive="active" class="text-center" > 
            Tarjetas de Credito
        </a>
    </div>     
</header>
