
.table-content:hover{
    box-shadow: 0 0px 7px 0px #929292;
}
.day{
    color: #005DB8;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
}

h1{
    color: #777777; 
    font-size: 14px;
    padding: 20px 0px;
}

.month{
    font-weight: lighter;
    margin-bottom: 2px;
    line-height: 70%;
}

.acronym{
    font-weight: bold;
    margin-bottom: 0;
}

.text-data{
    margin: 0;
}

.table-content .col-md-4{
    padding-left: 1vw;
}

.table-content{
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
}

.active, .approved, a {
    color: #69C145
}
.inactive, .remove {
    color: #DB292F
}

.ended {
    color: #005DB8
}

.active, .approved, .inactive, .ended {
    padding: 16px 0px;
}

span {
    font-size: 20px;
}

.details {
    width: 8%;
    padding: 12px 0;
    margin: 24px 2vw;
    border-radius: 3px;
    box-shadow: 0 0px 7px 0px #bbbbbb;
    font-weight: bold;
}

.details:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: #fcfcfc;
}

@media (max-width: 1400px){
    h1{
        font-size: 12px;
        padding: 10px 0px;
    }
    .day{
        font-size: 18px;
    }
    .month, .acronym{
        font-size: 10px;
    }
    .active, .approved, .inactive, .ended {
        font-size: 10px;
        padding: 1.3em 0px
    }
    .details{
        padding: 5px 6px;
        margin: 2em;
        font-size: 10px;
    }

    span{
        font-size: 10px;
    }

}
